<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
List page <br/>


<a href="/add">Add Book</a> </br/>

<table border="1" >
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>ISBN</th>
        <th>Image</th>
    </tr>
    <tr th:each="library: ${libraries}">
        <td th:text="${library.title}"></td>
        <td th:text="${library.author}"></td>
        <td th:text="${library.year}"></td>
        <td th:text="${library.isbn}"></td>
        <td th:text="${library.image}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${jbcLibrary.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${jbcLibrary.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${jbcLibrary.id})}">Delete</a>
        </td>
    </tr>

</table>


</body>
</html>