<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<label>Status: </label>-->
<!--<select  th:field="*{library}">-->
    <!--<option th:each="library: ${libraries}"-->
            <!--th:value="${library}"-->
            <!--th:text="#{${library.library}}">Borrow</option>-->
    <!--<option value="borrow">borrow</option>-->
    <!--<option value="return">return</option>-->
<!--</select>-->

<!--</body>-->
<!--</html>-->